# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
.DS_Store

# Editor
.vscode/
.idea/

# Inngest
.inngest/

about.txt
future-scope.txt
ui-scope.txt
